.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
  background-color: #ffffff;
}

.footerBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #1e1e1e;
}

.aboutUs,
.discover,
.myAccounts,
.helps {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.footerBox .header {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Prata", serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #353535;
}

.footerBox .links {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.footerBox .links a {
  text-decoration: none;
  color: #1e1e1e82;
  font-weight: 500;
  letter-spacing: 1px;
}

.footerBox .links a:hover {
  scale: 1.1;
  color: #1e1e1e;
}

.rightsAndReserved {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
}

.rightsAndReserved p {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.rightsAndReserved .socialPlatforms {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rightsAndReserved .socialPlatforms .platform {
  font-size: 1.55rem;
  color: #353535;
  cursor: pointer;
}

.rightsAndReserved .socialPlatforms .platform:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .footerBox {
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-left: 0;
  }

  .rightsAndReserved {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .rightsAndReserved p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 375px) {
  .footerBox {
    gap: 3rem;
    justify-content: center;
  }

  .aboutUs,
  .discover,
  .myAccounts,
  .helps {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footerBox .header {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Prata", serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #353535;
  }

  .footerBox .links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .rightsAndReserved .socialPlatforms {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .rightsAndReserved .socialPlatforms .platform {
    font-size: 1.3rem;
    color: #353535;
    cursor: pointer;
  }
}
